<head>
    <meta charset="UTF-8">
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./assets/main.css">
    <title>Meetup</title>
</head>
    <script src="./js/log.js"></script>